# SimpleSwitch 2.0 (SS2) Default Configuration

[DEFAULTS]
# Configuration for all SS2 Controller Applications
# NOTE: This section is called DEFAULTS, not DEFAULT, to allow proper value
# defaults with inherited subsections. See ss2.config

# Table Identifiers
table_acl:        0
# OF1.3 5.9 Goto-Table only supports a table ID higher than the current table
# being processed, so any security or other module tables must exist before
# the learning switch tables
table_l2_switch:  101
table_eth_src:    102
table_eth_dst:    103

# Priority range and default values. These will be used by flows added by SS2.
# For other controller applications loaded, these values can be modified to
# ensure application precedence.
priority_max:  1000
priority_high:  900
priority_mid:   800
priority_low:   700
priority_min:   600

[Core]
# Configuration for the SS2 Core Application

# Cookie value applied to all flows. This should be a unique value as any
# flows with this cookie will be deleted when a datapath attaches to the
# controller.
cookie:  0x55200000

# The amount of time to keep a learned host in the datapath. This acts as a
# hard timeout and hosts will be relearned at this interval. The controller is
# given additional time to re-insert the appropriate flows for the learned host
# before the packets to that host are flooded due to the use of an idle timeout
# in the eth_dst table.
learn_timeout:  300

# The amount of time that the controller ignores packets matching a recently
# learned dpid/port/mac combination. This is used to prevent the controller
# application from processing a large number of packets forwarded to the
# controller between the time the controller first learns a host and the
# datapath has the appropriate flow entries fully installed.
host_cache_timeout: 0.5
